<app-header></app-header>

<div class="container">
  <mat-card *ngIf="user">
    <div class="info-card">
      <img mat-card-image [src]="user.avatar_url" alt="{{ user.login }}" class="profile-img">
      <div class="info-body">
        <mat-card-title>{{ user.name || '-'}} </mat-card-title>
        <mat-card-subtitle class="subtitle">
          <a [href]="'https://github.com/' + user.login">{{ "@" + user.login }}</a>
          <span class="card-label"> <mat-icon>badge</mat-icon> {{ user.id }}</span>
          <span class="card-label" *ngIf="user.email"><mat-icon>email</mat-icon> {{ user.email }}</span>
          <span class="card-label" *ngIf="user.twitter_username">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img"
              aria-labelledby="an2ld10bze2lcqykysq37hqu5m6cqng" class="octicon">
              <title id="an2ld10bze2lcqykysq37hqu5m6cqng">X</title>
              <g clip-path="url(#clip0_1668_3024)">
                <path
                  d="M9.52217 6.77143L15.4785 0H14.0671L8.89516 5.87954L4.76437 0H0L6.24656 8.8909L0 15.9918H1.41155L6.87321 9.78279L11.2356 15.9918H16L9.52183 6.77143H9.52217ZM7.58887 8.96923L6.95596 8.0839L1.92015 1.03921H4.0882L8.15216 6.7245L8.78507 7.60983L14.0677 14.9998H11.8997L7.58887 8.96957V8.96923Z"
                  fill="currentColor"></path>
              </g>
              <defs>
                <clipPath id="clip0_1668_3024">
                  <rect width="16" height="16" fill="white"></rect>
                </clipPath>
              </defs>
            </svg> <a [href]="'https://x.com/' + user.twitter_username"> {{ user.twitter_username }}</a></span>
          <span class="card-label"><mat-icon>group</mat-icon> {{ user.followers }} followers - {{ user.following }}
            following </span>
        </mat-card-subtitle>
      </div>
    </div>
    <mat-card-content>
      <div class="card-content-section">
        {{user.bio}}
        <span *ngIf="!user.bio"><i>No description...</i></span>
      </div>
    </mat-card-content>
  </mat-card>
</div>